body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}
footer {
    color: darkblue;
    font-size: 20px;
    border: solid;
    width: 400px;
    margin: auto;
    padding: 5px;
    text-align: center;
    border-radius: 20px 0 20px 0;
}